<body class="about-page">
    <!-- Team members wrapper -->
    <div class="about-wrapper">
        <h1>Team 2</h1>
        <div class="team-members">
                <div id="team-lead-about" class="role-about">
                    <h2>Team Lead</h2>
                    <a href="/Nanda" class="member">Nanda Pandian</a>
                </div>
                <div id="gitHub-master-about" class="role-about">
                    <h2>GitHub Master</h2>
                    <a href="/Troy" class="member">Troy Carloni</a>

                </div>
                <div id="backend-about" class="role-about">
                    <h2>Backend</h2>

                    <a href="/Richard" class="member">Richard Aguilar (Lead)</a>
                    <a href="/Yuwei" class="member">Yuwei Liu</a>

                </div>
                <div id="frontend-about" class="role-about">
                    <h2>Frontend</h2>

                    <a href="/Farid" class="member">Farid Mehdipour (Lead)</a>
                    <a href="/Hugo" class="member">Hugo Moreno</a>

                </div>
        </div>
        {{!-- <div class="about-tree-img">
            <img src="/images/tree.jpg" alt="">
        </div> --}}
    </div>
</body>

</html>