<body>
    <div class="Nemail-Npass-container">
        <form id="change-email" class="Nemail-Npass-form">
            <h2 class="Nemail-Npass-h2">Change Email</h2>
            <p>New Email:</p>
            <input id="email-new" type="email" class="Nemail-Npass-input" placeholder="New Email">
            <p>Current Password:</p>
            <input id="pass-current" type="password" class="Nemail-Npass-input" placeholder="Current Password">
            <button id="new-email-btn" type="button" class="Nemail-Npass-submit" onclick="changeEmail()">Submit</button>
        </form>
    </div>
    <script src="/public/javascript/login_frontend.js"></script>
</body>