<body>
    <div class="Nemail-Npass-container">
        <form id="change-pass" class="Nemail-Npass-form">
            <h2 class="Nemail-Npass-h2">Change Password</h2>
            <p>Current Password:</p>
            <input id="pass-current" type="password" class="Nemail-Npass-input" placeholder="Current Password">
            <p>New Password:</p>
            <input id="pass-new" type="password" class="Nemail-Npass-input" placeholder="New Password">
            <p>Confirm your New Password:</p>
            <input id="pass-new-coferm" type="password" class="Nemail-Npass-input"
                placeholder="Confirm your New Password">
            <button id="new-pass-btn" type="button" class="Nemail-Npass-submit"
                onclick="changePassword()">Submit</button>
        </form>
    </div>
    <script src="/public/javascript/login_frontend.js"></script>
</body>