{{!-- onload="getRecentPost()" --}}

<body class="Home-page" onload="getRecentPost()">
    {{!-- <div class="home-banner">
        <img src="/public/images/Jungle-banner.png" alt="banner">

    </div> --}}
    <div>
        <div id="main-content" class="grid">

        </div>
    </div>
    <script src="/public/javascript/frontendjs.js"></script>
</body>


