<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <script src="https://kit.fontawesome.com/4d14894bd1.js" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="../public/javascript/frontendjs.js"></script>
  <!-- Latest compiled and minified CSS -->


</head>

<body>

  {{> header }}

  <div class="home-banner">
    <img src="/public/images/Jungle-banner.png" alt="banner" class="banner-1000px">
    {{!-- <img src="/public/images/Jungle500px.jpg" alt="banner" class="banner-500px"> --}}

  </div>
  {{{body}}}

  {{> footer }}


</body>

</html>