<body>
        <div class="login-reg-container">
                <form id="log-form" class="login-reg-form">
                        <h2 class="login-reg-h2">Login</h2>
                        <p>Email:</p>
                        <input type="text" id="user-input" class="login-reg-input"  required>
                        <br>
                        <p>Password:</p>
                        <input id="pass-input" type="password" class="login-reg-input"  required>
                        <br>
                        <button id="login-bt" type="button" class="login-reg-submit" onclick = "login_execute()">LOGIN</button>
                        <a id="login-to-reg" href="/Registration">Create a new account</a>
                        <a id="login-forgot-pass" href="/">Forgot Password</a>

           
        </div>
        <script src="/public/javascript/login_frontend.js"></script>
</body>