<body>
    <div class="messageTheSeller-container">
        <form id="messageTheSeller-form" class="messageTheSeller-form">
            <h2 class="messageTheSeller-h2">Contact The Seller</h2>
            <input id="text-area" type="text" class="Nemail-Npass-input" placeholder="message">
            <button id="messageTheSeller-bt" type="button" class="messageTheSeller-submit" onclick="sendMessage()">SEND</button>
        </form>
    </div>
</body>
<script src="/public/javascript/frontendjs.js"></script>