<body class="product-info-body" onload="displayProductInfo()">
    <div class="product-container">
        <div class="product-content">
            <img id="product-img" class="product-img" src="" width="300px">
            <div class="product-text">
                <span class="bg">
                    <p class="product-name">Name:
                    <p id="product-name"></p>
                    </p>
                </span>
                <span class="product-category">
                    <h1 id="product-category"></h1>
                </span>
                <span class="product-description">
                    <p>Description:
                    <p id="product-description"></p>
                    </p>
                </span>
                <div class="product-price-btn">
                    <span class="product-price">
                        <p >Price:
                        <p id="product-price"></p>
                        </p>
                    </span>

                    {{!-- <a class="cart-btn" href="#" id="cart-btn"><i class="cart-icon ion-bag" id="cart-btn"></i></a> --}}
                    <div class="cart-btn" id="cart-btn">
                        
                        
                    </div>
                </div>
            </div>
        </div>


    </div>

</body>
<script src="/public/javascript/frontendjs.js"></script>