<body id="VP" onload="executeSearchNavbar_onPage()">
    <div class="container-vp">
        <h1 id="title-vp" class="top-results">Top Results:</h1>
        <div id="main-content" class="grid">
            <div class="card">
            </div>
        </div>
    </div>
    <script src="/public/javascript/frontendjs.js"></script>



